* {
  margin: 0;
  padding: 0pt;
}

:root {
    flex-grow: 1; 
}

.menuButton{
    margin-right: 2em;
}

.title{
    flex-grow: 1;
}


.link {
  text-decoration: none;
  color: inherit;
}

.profileImage {
  border-radius: 50%;
  border: 4px solid #D8D8D8;
  width: 40px;
  margin: auto 15px;
}