* {
  margin: 0;
  padding: 0pt;
}
:root {
    flex-grow: 1; 
    background-color: #D8D8D8;
}

.menuButton{
    margin-right: 2em;
}

.title{
    flex-grow: 1;
}

.content {
  background-color: #D8D8D8;
}

.link {
  text-decoration: none;
  color: inherit;
}