.profileImage {
    border-radius: 50%;
    border: 5px solid #D8D8D8;
    width: 45px;
    margin: 15px 15px;
}
.upper {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 10px 10px 20px #666;
    border-radius: 25px;
    width: 80%;
    margin: 30px auto;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content{
    margin-left: 50px;
    margin-top: 10px;
    width: 80%;
    height: 20vh;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: auto;
    font-size: 20px;
    resize: none;
}

.selectors {
    display: flex;
    width: 75vw;
    margin-bottom: 15px;
}

.category {
    margin: 0 auto 0 15px;
    width: 10rem;
}
.gap{
    padding: 0 2%;
}
.send{
    color: #A42197;
}

.profile {
    display: flex;
    width: 100%;
    align-items: center;
}

.postText {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 15px;
    font-size: 1.3em;
    font-family: Roboto;
    font-weight: 600;
    width: 100%;
}

.postImage{
    width: 50%;
    height: auto;
    border: 5px black outset;
    align-self: center;
}

.postImage:hover{
    box-shadow: 5px 5px 30px #666;
}

.likes{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.buttons {
    display: flex;
    width: 100%;
    margin: 0px 15px;
}

.iconBlack{
    color: black;
}


.likeNumber {
    font-family: Roboto;
    font-weight: 600;
    margin-top: 10px;
    color: black;
}

.characterCount {
    font-family: Roboto;
    font-weight: 600;
    margin-top: 10px;
    color: black;
    align-self: flex-end;
    margin: .5rem 5rem;
}
.warning {
    color:#FFD300;
}

.danger {
    color: 	red;
}

.paper{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 15px;
    width: 70vw;
    background-color: white;
    box-shadow: 10px 10px 30px black;
    font-family: Roboto;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    margin: 15px 30px 0px;
}

.marginRight{
    margin-right: 15px !important;
}

.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    padding: 15px;
    width: 70vw;
    background-color: white;
    box-shadow: 10px 10px 30px #666;
    font-family: Roboto;
    text-align: center;
    border-radius: 25px;
}

.hr{
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
}
.hr:before{
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr:after{
    content: attr(data-content);
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: black;
    background-color: white;
}

.button {
    margin-top: 30px;
    width:50%;
    align-self: flex-end;
    background-color: #A42197 !important;
    color: white !important;
    border-radius: 5px;
}

.postboxImage{
    width: 100px;
    height: 100%;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 70%;
}

.pollOption {
    padding: 15px;
}

.pollOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pollHeader{
    display: flex;
}

.pollSubmit{
    color: #A42197 !important;
    margin-right: 3rem;
}

.pollCompleted{
    margin: 2rem;
}

.selectedOption{
    background-color: rgba(139, 15, 127, 0.42);
}

.pollOptionCompleted{
    background-color: #C4C4C4;
}